APP_NAME="Clínica Dr. George Scapin"
APP_ENV=production
APP_URL=http://localhost:8000

# Conexão MySQL
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=clinica_george
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
